@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


body{
 background: url('https://media.giphy.com/media/d97OPMEimWGBi/giphy.gif');
 text-transform: lowercase;
 
}


@media(min-width: 501px) and (max-width: 2000px){


/* header --> navbar */
.container-fluid{
  font-family: 'Libre Baskerville', serif;
}
.btn-success{
  width: 10rem;
  height: 2.5 rem;
}


.container{
    display: grid;
    grid-template-columns: 22rem 22rem;
    /* grid-template-rows: 50% 50%; */
    justify-content: center;
    align-content: center;
    gap: 1rem;
    flex-flow: row wrap; 
    font-family: 'Libre Baskerville', serif;      
}


h1{ 
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif; 
    padding-top: 5.5rem;
    padding-bottom: 2rem;   
}


/* footer */
footer{
    background-color: #ffffff;
    padding: 1rem;
    margin-top: 6rem;
    text-align: center;
    color: #777;
}


p{
    font-size: large;
    font-family: 'Libre Baskerville', serif;  
}


  /* add new blog */
#form-post{
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 5rem;
    margin-top: 6rem;
    padding: 3rem;
    width: 40rem;  
}


h3{
    display: flex;
    justify-content: center;
    color: #1a8d46;
    padding-bottom: 0.5rem;
}


h5{
  padding-top: 1rem;
}


textarea{
    height: 15rem;
}
 

.addBlog{ 
    margin-top: 1rem;
}

  
  /* blog bost */
#form-blog{
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding: 3rem;
    width: 40rem;  
} 
}


@media(max-width: 500px){

 
 /* Header --> navbar */
.container-fluid{
  font-family: 'Libre Baskerville', serif;
}


h1, h3{ 
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif; 
    padding-top: 3rem;
    padding-bottom: 1rem;   
}


p{
  font-size: large;
  font-family: 'Libre Baskerville', serif;  
}


/* footer */
footer{
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 3rem;
  text-align: center;
  color: #777;
}


article ,h5, ul{
  padding-top: 1rem;
  font-family: 'Libre Baskerville', serif; 
  color: #ffffff;
  padding-bottom: 1rem;  
}


textarea{
    height: 8rem;
}


.addBlog{
   margin-top: 1rem;
    margin-bottom: 4rem;
}
}

